@import url('./fonts.css') layer(fonts);
@import url('./blocks.css') layer(blocks);
@import url('./text.css') layer(text);
@import url('./collapse.css') layer(collapse);

@layer base {

  :root {
    --accent: #3245ff;
    --accent-dark: #1a1a2e;
    --accent-light: #bc52ee;
    --black: #05050b;

    --monospace: 'Cartograph CF', monospace;
    --sans: 'Nimbus Sans', sans-serif;
  }

  html {
    font-family: sans-serif;
    color: white;
    /* background: linear-gradient(180deg, #05050b 0%, #1a1a2e 100%); */
    background: linear-gradient(0deg, var(--black) 0%, var(--accent-dark) 100%);
    background-attachment: fixed;


    font-family: var(--sans);
    font-variant-ligatures: none;
  }

  code {
    font-family: var(--monospace);
  }

}
